<html>
    <head>
        <title>Slot Sample</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="root">
            <div><code>{{html}}</code></div>
            <input v-model="msg"/>
            <div>{{msg}}</div>
        </div>
    </body>
    <script>
        new Vue({
            el: "#root",
            data() {
                return {
                    html: '<input v-model="msg"/>',
                    msg: 'hello vue'
                }
            }
        })
    </script>
</html>